body
{
    background-color: black;
    font-size: 24px;
    font-family: "MingLiU", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
    word-break: break-all;
}
.screen
{
    line-height: 100%; 
    max-width: 1200px;
    margin : 0 auto;
}
.topbar-container
{
    /* position : absolute; */
    top: 0;
    position: fixed;
    width: 100%;
    background-color:  #0c0a66;
    font-size: 110%;
}
#page-intro
{
    color: rgba(255, 255, 102, 1);
    max-width: 1200px;
    margin : 0 auto;
}
.homepage-link
{
    text-decoration: none;
    color: rgba(255, 255, 102, 1);
    font-size: 110%;
}
#LogInLogOut
{
    float: right;
    text-decoration: none;
    color: rgba(255, 255, 102, 1); 
}
.LogOut
{
    color: rgba(255, 255, 102, 1); 
}

#headpage-link
{
    color: rgba(255, 255, 255, 1);
    font-size: 100%;
}

.title_block
{
    margin-top : 10px;
}
#title
{
    /* text-align: center; */
    margin-top:43px;
    background-color: rgba(0, 0, 136, 1); 
}
#title-name
{
    background-color: rgba(153, 153, 153, 1);
    padding-left: 10px;
    padding-right: 10px;
    color : rgba(0, 0, 136, 1);
}
#title-content
{
    background-color: rgba(0, 0, 136, 1);
    color : rgba(153, 153, 153, 1);
}
#content
{
    border : 1px solid black;
    color : white;
}
#some-words
{
    color : rgba(0, 153, 0, 1);
}
#comment
{
    color : rgba(153, 153, 0, 1);
    /*
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    */
}
#like-cmt
{
    color : white;
}
#hate-cmt
{
    color : red;
}
#norm-cmt
{
    color : red;
}
#cmt_User
{
    color : rgba(255, 255, 102, 1);
}
#cmt_time
{
    float:right;
    color :white;
}
.comment-block
{
    position : fixed;
    bottom: 0;
    margin:auto,auto;
}

.like-Btn
{
    border : 1px solid black;
    color : green;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}
.like-Btn.steady
{
    border : 1px solid green;
    color : white;
    background-color: rgba(0, 128, 0, 1);
    border-radius: 100px;
}
.hate-Btn
{
    border : 1px solid black;
    color : red;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}
.hate-Btn.steady
{
    border : 1px solid red;
    color : white;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 100px;
}
.norm-Btn
{
    border : 1px solid black;
    color : white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}
.norm-Btn.steady
{
    border : 1px solid white;
    color : white;
    background-color: black;
    border-radius: 100px;
}
#text_comment
{
    margin-top:2px;
}
#sendBtn
{
    background-color: rgba(153, 153, 0, 1);
    color: white;
    border-radius:10px; 
    border-color: rgba(153, 153, 0, 1);
    margin-top: 0px;
    /* height:100px; */
}