body
{
    background-color: black;
}
/*
.container
{
    margin-top: 
}
*/
.topbar
{
    top: 0;
    position: fixed;
    width: 100%;
    background-color:#0c0a66;
    color: rgba(255, 255, 102, 1); 
    font-size: 30px;
    text-align: center;
}
#spacing
{
    margin-bottom: 150px;
}
.block
{
     text-align: center; 
    
}
#Login_text
{
    font-size: 30px;
    color: rgba(255, 255, 102, 1); 
    background-color:  #0c0a66;
    padding: 0 30px;
    
}
.second_block
{
    margin: 0 auto;
    max-width: 250px;
}
#Login_Box
{
    font-size: 1rem;
    border : 1px solid white;
    padding: 20px; 
    color: rgba(255, 255, 102, 1); 
    line-height: 160%;
}
.Btn
{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 2px;
}
.Btn:hover
{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;

}