body
{
    font-family: "MingLiU", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
    background-color: black;
    color: white;
    font-size: 24px;
    
}
.screen
{
    max-width: 1200px;
    margin: 0 auto;
}
.topbar
{
    
    top: 0;
    position: fixed;
    width: 100%;
    background-color:  #0c0a66;
    color: rgba(255, 255, 102, 1);
    font-size: 110%;
}
.homepage-link
{
    color: rgba(255, 255, 102, 1);
}

#LogInLogOut
{
    float: right;
    text-decoration: none;
    color: rgba(255, 255, 102, 1); 
}
.LogOut
{
    color: rgba(255, 255, 102, 1); 
}
.block
{
    margin-top: 50px;
}
.small_screen
{
    max-width: 1000px;
    margin: 0 auto;
}
.Submit
{
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color : white;
}
.Submit:hover
{
    
    background-color: white;
    color : black;
}