body
{
    font-family: "MingLiU", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
    background-color: black;
    font-size: 24px;
    word-break: break-all;
}
.screen
{
    max-width: 1200px;
    margin: 0 auto;
}
.topbar
{
    
    top: 0;
    position: fixed;
    width: 100%;
    background-color:  #0c0a66;
    font-size: 110%;
}
#intro
{
    font-size: 24px;
    color: rgba(255, 255, 102, 1);
}
#LogInLogOut
{
    float: right;
    color: rgba(255, 255, 102, 1);
    
}
#LogIn
{
    text-decoration: none;
    color: rgba(255, 255, 102, 1);
    
}
.username
{
    text-decoration: none;
    color: rgba(255, 255, 102, 1);
}
.username:hover
{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.LogOut
{
    text-decoration: none;
    color: rgba(255, 255, 102, 1); 
}
.LogOut:hover
{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
#turn_page
{
    margin-top: 4px;
    float: right;
    font-size: 16px;
    color : rgba(221, 221, 221, 1);
    text-decoration: none;
}
.pageBtn
{
    
    border: 1px solid rgba(102, 102, 102, 1);
    background-color: rgba(68, 68, 68, 1);
    color : rgba(221, 221, 221, 1);
    text-align: center;
    padding: 10px 18px; 
    height: 100%;
    line-height: 40px;
}
.pageBtn:hover
{
    border: 1px solid #eee;
    background-color: rgba(187, 187, 187, 1);;
    color : rgba(0, 0, 0, 1);;
    text-align: center;
    padding: 10px 18px; 
    height: 100%;
    line-height: 40px;
    z-index: 2;
    text-decoration: none;
}
.UselessBtn
{
    
    border : 1px solid  rgba(17, 17, 17, 1);
    background-color: rgba(34, 34, 34, 1);
     color: rgba(102, 102, 102,1);
    text-align: center;
    padding: 10px 18px; 
    height: 100%;
    line-height: 40px;
}
#Article_list
{
    line-height: 80%;
    font-size: 20px;
}


.each_block
{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #111;
    margin-bottom: 5px;
}
.each_article
{
    margin-top : 5px;
    margin-bottom: 5px;
}
/*
.each_article:hover
{
    text-decoration-line: none;
    background-color: aliceblue;
}*/
.eval_num
{
    /* color: #6f6; */
    margin-right: 20px;
    font-size: 20px;
    width: 4ex;
    text-align: right;
    float: left;
}
.article_link
{
    padding-left: 15px;
    text-decoration-line: underline;
    font-size: 20px;
    color : rgba(170, 170, 170, 1);/*#bbb*/
}
.article_link:visited {
    color: #888;
}
.article_link:hover
{
    text-decoration: none;
    background-color: rgba(204, 204, 204, 1);
    color : rgba(51, 51, 51, 1);
}
#writer
{
    font-size: 20px;
    padding-left: 70px;
    font-family: "Inconsolata, serif";
    color: rgba(187, 187, 187, 1);
}
#time
{
    font-size: 20px;
    color: rgba(187, 187, 187, 1);
    float : right;
}
#post_article_block
{
    
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    
}

#intro
{
    font-size: 25px;
}