body
{
    font-family: "MingLiU", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
    background-color: black;
    font-size: 24px;
    
}
.screen
{
    max-width: 1200px;
    margin: 0 auto;
}
.topbar
{
    
    top: 0;
    position: fixed;
    width: 100%;
    background-color:  #0c0a66;
    color: rgba(255, 255, 102, 1);
    font-size: 110%;
}
.homepage-link
{
    color: rgba(255, 255, 102, 1);
}
#intro
{
    font-size: 24px;
    color: rgba(255, 255, 102, 1);
}
.LogOut
{
    float: right;
    text-decoration: none;
    color: rgba(255, 255, 102, 1); 
}
.LogOut :hover
{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.set_profile
{
    padding-top : 50px;
    max-width: 1200px;
    margin: 0 auto;
    
}
.done-setting
{
    background-color: black;
    color : white;
    border: 1px solid white;
    border-radius: 20px;
    float: right;
}
.done-setting:hover
{
    background-color: white;
    color : black;
    border: 1px solid black;
    border-radius: 20px;
    float: right;
}
.settingBtn
{
    background-color: black;
    color : white;
    border: 1px solid white;
    border-radius: 20px;
    float: right;
}
.settingBtn:hover
{
    background-color: white;
    color : black;
    border: 1px solid black;
    border-radius: 20px;
    float: right;
}
.ImgBlock
{
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    
}
#profile-image
{
    background-color: aliceblue;
    
    /* position: absolute;   */
    border-radius: 999px;

    
}
#set-image
{
    text-align: center;
}
.smallscreen
{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}
.profile-category
{
    color: rgba(255, 255, 102, 1); 
}
.profile-content
{
    float: right;
    color: rgba(255, 255, 255, 1);
}
.imageBtn
{
    color : rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
}
.imageBtn:hover
{
    background-color : rgba(255, 255, 255, 1);
    color : black;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}
#profile_pic
{
    display: none;
}
#new-Username
{
    font-size: 15px;
    /* line-height: 0px; */
}
#new-Nickname
{
    font-size: 15px;
    /* line-height: 0px; */
}